@model IEnumerable<BCITGO_FINAL.Models.Driver>

@{
    ViewData["Title"] = "Driver"; <!--Change the title of the page - ADDED-->
}

<h1>Driver</h1>  <!--Change the title of the page - ADDED-->
<!-- Add Search Box ADDED-->
<p>
    <form method="get">
        <input type="text" name="searchString" placeholder="Search by Driver's Name"
               value="@ViewData["SearchString"]" /> <!-- Use ViewData["SearchString"] here -->
        <input type="submit" value="Search" />
    </form>

</p>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID) <!-- This will now display "User ID" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrivingLicense) <!-- This will now display "Driving License" -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrivingLicense)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DriverID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DriverID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DriverID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
