@model IEnumerable<BCITGO_FINAL.Models.Donation>

@{
    ViewData["Title"] = "Donations"; <!--Change the title of the page - ADDED-->
}

<h1>Donations</h1> <!--Change the title of the page - ADDED-->

<p>
    <a asp-action="Create">Create New</a> <!--Change the title of the page - ADDED-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
