@model BCITGO_FINAL.Models.TripBooking

@{
    ViewData["Title"] = "Booking"; <!--Change the title of the page - ADDED-->
}

<h1>Booking</h1> <!--Change the title of the page - ADDED-->

<div>
    <h4>Booking Details </h4> <!--Change the title of the page - ADDED-->
    <hr /> 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripPostingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripPostingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
