@model IEnumerable<BCITGO_FINAL.Models.TripBooking>

@{
    ViewData["Title"] = "Bookings"; //Change the title of the page - ADDED
}

<h1>Bookings</h1> <!--Change the title of the page - ADDED-->
<!-- Add Search Box ADDED-->
<p>
    <form method="get">
        <input type="text" name="searchString" placeholder="Search by Bookings"
               value="@ViewData["SearchString"]" /> <!-- Use ViewData["SearchString"] here -->
        <input type="submit" value="Search" />
    </form>

</p>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripPostingID) <!-- This will now display "Trip Posting ID" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID) <!-- This will now display "User ID" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsBook) <!-- This will now display "Seats Booked" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStatus) <!-- This will now display "Booking Status" -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripPostingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
