@model IEnumerable<BCITGO_FINAL.Models.Review>

@{
    ViewData["Title"] = "Reviews "; //Change the title of the page - ADDED
}

<h1>Reviews</h1> <!--Change the title of the page - ADDED-->

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripPostingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripPostingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
