@model IEnumerable<BCITGO_FINAL.Models.User>

@{
    ViewData["Title"] = "User";
}

<h1>User</h1>

<!-- Add Search Box ADDED-->
<p>
    <form method="get">
        <input type="text" name="searchString" placeholder="Search by User Name"
               value="@ViewData["SearchString"]" /> <!-- Use ViewData["SearchString"] here -->
        <input type="submit" value="Search" />
    </form>

</p>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name) <!-- Will now display "Full Name" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber) <!-- Will now display "Phone Number" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description) <!-- Will now display "Description" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BCIT_Email) <!-- Will now display "BCIT Email" -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCIT_Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
