@model IEnumerable<BCITGO_FINAL.Models.TripPosting>

@{
    ViewData["Title"] = "Trip Posting";
}

<h1>Trip Posting</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DriverID) <!-- This will now display "Driver ID" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleID) <!-- This will now display "Vehicle ID" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartLocation) <!-- This will now display "Start Location" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndLocation) <!-- This will now display "End Location" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date) <!-- This will now display "Trip Date" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatAvailable) <!-- This will now display "Seats Available" -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status) <!-- This will now display "Status" -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriverID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TripPostingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TripPostingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TripPostingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
